{{#if this.session.isAuthenticated }}
    <button {{on "click" this.logout}}>Logout</button>
    <p>Signed in as {{ this.session.data.authenticated.user.displayName }}</p>
{{else}}
    <button {{on "click" this.login}}>Login</button>
{{/if}}

<nav>
    <ul>
        <li>{{#link-to "somethings"}}Somethings{{/link-to}}</li>
        <li>{{#link-to "users"}}Users{{/link-to}}</li>
        <li>{{#link-to "comments"}}Comments{{/link-to}}</li>
    </ul>
</nav>

{{outlet}}